
.container{
  
  .category{
    margin-top: 1rem;

    .selection{
      margin-top: 1rem;

      .emptyCategory{
        color: var(--color-muted);
      }

      .selectionBox{

        padding-bottom: 1rem;
        border-bottom: 1px solid transparent;

        button{
          border: 1px solid var(--new-category-border);
          padding: 0.5rem 0.8rem;
          border-radius: 5px;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 1rem;
          align-items: center;
          text-align: left;

          &:hover{
            border: 1px solid var(--new-category-border-focus);
          }

          &:active{
            border: 1px solid var(--new-category-border);
          }

          & > span{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;

            & > span{
              color: var(--color-muted)
            }
          } 

          svg{
            rotate: 0deg;
            transition: rotate 300ms;
            &.inactive{
              opacity: 0.5;
            }
            &.open{
              rotate: 180deg;
            }
          }
        }

      }

      .selectionList{

        background-color: var(--category-sel-background);
        position: relative;
        left: calc(-1 * var(--sidebar-padding));
        width: calc(100% + 2 * var(--sidebar-padding));
        display: grid;
        
        transition: 
          grid-template-rows 300ms 0ms ease-in-out,
          padding 300ms 0ms ease-in-out,
          border-top 300ms 400ms ease-in-out,
          border-bottom 300ms 400ms ease-in-out
        ;

        padding: 0rem var(--sidebar-padding);
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        grid-template-rows: 0fr;

        &.open{

          transition: 
            grid-template-rows 300ms 300ms ease-out,
            padding 300ms 300ms ease-out,
            border-top 300ms 0ms ease-out,
            border-bottom 300ms 0ms ease-out
          ;

          grid-template-rows: 1fr;
          padding: 1.5rem var(--sidebar-padding);
          border-top: 1px solid var(--color-border);
          border-bottom: 1px solid var(--color-border);
        }

        & > div{
          overflow: hidden;
          height: 100%;
          display: grid;
          grid-template-columns: 1fr;
          gap: 1rem;
        }

        .itemEdit{
          display: grid;
          grid-template-columns: 1fr auto auto;
          align-items: flex-start;

          border: 1px solid var(--color-border);
          border-radius: 0.3rem;

          &.active{
            border: 1px solid var(--color-primary);
          }

          input{
            padding: 0.5rem 1rem;
            text-align: left;
            border-top-left-radius: 0.5rem;
            border-bottom-left-radius: 0.5rem;
            border: none;
            outline: none;
            min-width: 0;
          }

          button{
            padding: 0.5rem 1rem;
            &:active{
              opacity: 0.7;
            }
          }

          button:nth-child(2){
            border-left: 1px solid var(--color-border);
            svg{
              width: 20px;
              height: 20px;
            }
            &:hover{
              color: var(--color-primary);
            }
          }

          button:nth-child(3){
            border-left: 1px solid var(--color-border);
            border-top-right-radius: 0.5rem;
            border-bottom-right-radius: 0.5rem;
            &:hover{
              color: var(--color-danger);
            }
          }


        }

        .selectionItem{
          display: grid;
          max-width: 100%;
          grid-template-columns: 1fr auto auto;
          align-items: flex-start;

          border: 1px solid var(--color-border);
          border-radius: 0.3rem;
          gap: 0.5rem;

          button{
            padding: 0.5rem 1rem;
            &:active{
              opacity: 0.7;
            }
          }

          button:first-child{
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;  
            overflow: hidden;
            text-align: left;
            border-top-left-radius: 0.4rem;
            border-bottom-left-radius: 0.4rem;
            padding-bottom: 0.25rem;
            margin-bottom: 0.25rem;
            &:hover{
              color: var(--color-primary);
            }
          }

          button:nth-child(2){
            padding-left: 0rem;
            padding-right: 0rem;
            svg{
              width: 20px;
            }
            &:hover{
              color: var(--color-secondary);
            }
          }

          button:nth-child(3){
            padding-left: 0rem;
            padding-right: 0rem;
            margin-right: 1rem;
            border-top-right-radius: 0.4rem;
            border-bottom-right-radius: 0.4rem;
            &:hover{
              color: var(--color-danger);
            }
          }

          &.active{
            border: 1px solid var(--color-primary);
          }

        }
      }

    }

    .header{

      display: flex;
      align-items: center;
      justify-content: space-between;

      p{
        font-size: large;
        font-weight: bold;
      }

      svg{
        rotate: 0deg;
        transition: rotate 300ms ease-in-out, color 300ms;

        &.rotated{
          rotate: 135deg;
          color: var(--color-danger);
        }
      }

    }

    .form{

      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 300ms ease-in-out;

      &.open{
        grid-template-rows: 1fr;
      }

      &>div{
        overflow: hidden;
        height: 100%;
        form{
          margin-top: 1rem;
          border: 1px solid var(--new-category-border);
          border-radius: 5px;
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;

          &:has(input:focus){
            border: 1px solid var(--new-category-border-focus);
          }

          input{
            border-radius: 5px;
            width: 100%;
            min-width: 0;
          }

          input,button{
            display: block;
            padding: 0.5rem 0.7rem;
            outline: none;
          }

          button{
            opacity: 0.3;
          }

          &:valid{
            button{
              opacity: 1;
            }
          }
          
        }
      }

    }
  }

}