
.container{
  
  .category{
    margin-top: 1rem;

    .selection{
      margin-top: 1rem;

      .emptyCategory{
        color: var(--color-muted);
      }

      .selectionBox{

        padding-bottom: 1rem;
        border-bottom: 1px solid transparent;

        button{
          border: 1px solid var(--new-category-border);
          padding: 0.5rem 0.8rem;
          border-radius: 5px;
          width: 100%;
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;
          text-align: left;

          &:hover{
            border: 1px solid var(--new-category-border-focus);
          }

          &:active{
            border: 1px solid var(--new-category-border);
          }

          span > span{
            color: var(--color-muted)
          }

          svg{
            rotate: 0deg;
            transition: rotate 300ms;
            &.open{
              rotate: 180deg;
            }
          }
        }

      }

      .selectionList{

        padding: 0rem var(--sidebar-padding);
        background-color: var(--category-sel-background);
        border-top: 0px solid transparent;
        border-bottom: 0px solid transparent;
        position: relative;
        left: calc(-1 * var(--sidebar-padding));
        width: calc(100% + 2 * var(--sidebar-padding));

        display: grid;
        grid-template-rows: 0fr;
        transition: 
          grid-template-rows 300ms 100ms ease-out,
          padding 300ms 100ms ease-out,
          border-top 300ms 0ms ease-out,
          border-bottom 300ms 0ms ease-out
        ;

        &.open{
          grid-template-rows: 1fr;
          padding: 1rem var(--sidebar-padding);
          border-top: 1px solid #3f3f3f;
          border-bottom: 1px solid #3f3f3f;
        }

        & > div{
          overflow: hidden;
          height: 100%;
        }

        .selectionItem{
          display: grid;
          grid-template-columns: 1fr auto auto;
          align-items: flex-start;

          button{
            padding: 0.5rem 0.4rem;
            &:active{
              opacity: 0.7;
            }
          }

          button:first-child{
            text-align: left;
            &:hover{
              color: var(--color-primary);
            }
          }

          button:nth-child(2){
            svg{
              width: 20px;
              height: 20px;
            }
            &:hover{
              color: var(--color-secondary);
            }
          }

          button:nth-child(3){
            &:hover{
              color: var(--color-danger);
            }
          }

        }
      }

    }

    .header{

      display: flex;
      align-items: center;
      justify-content: space-between;

      p{
        font-size: large;
        font-weight: bold;
      }

      svg{
        rotate: 0deg;
        transition: rotate 300ms ease-in-out, color 300ms;

        &.rotated{
          rotate: 135deg;
          color: var(--color-danger);
        }
      }

    }

    .form{

      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows 300ms ease-in-out;

      &.open{
        grid-template-rows: 1fr;
      }

      &>div{
        overflow: hidden;
        height: 100%;
        form{
          margin-top: 1rem;
          border: 1px solid var(--new-category-border);
          border-radius: 5px;
          display: grid;
          grid-template-columns: 1fr auto;
          align-items: center;

          &:has(input:focus){
            border: 1px solid var(--new-category-border-focus);
          }

          input{
            border-radius: 5px;
          }

          input,button{
            display: block;
            padding: 0.5rem 0.7rem;
            outline: none;
          }

          button{
            opacity: 0.3;
          }

          &:valid{
            button{
              opacity: 1;
            }
          }
          
        }
      }

    }
  }

}