

.milkdown {
  height: 100%;
}

.editor {
  outline: none;
  height: 100%;
  font-size: var(--font-size);
  line-height: var(--line-height);
  
  & > p:only-child:has(br:only-child){
    position: relative;

    &:before {
      content: "Content\0000a0here.. You\0000a0can\0000a0use\0000a0Markdown";
      position: absolute;
      left: 0px;
      color: var(--content-placeholder-color);
      max-width: 100%;
    }
  }

  &.milkdown-theme-nord blockquote {
    border-left-width: 2px;
    border-color: var(--blockquote-color);
  }
}

pre[data-language]{
  background-color: var(--bg-code);
  padding: 1rem 1.5rem;
  border-radius: 0.7rem;
  font-size: 1rem;
  line-height: 1.6rem;
}
