

.milkdown {
  height: 100%;
}

.editor {
  outline: none;
  height: 100%;
  font-size: var(--font-size);
  line-height: var(--line-height);
  
  & > p:only-child:has(br:only-child){
    position: relative;

    &:before {
      content: "Content\0000a0here.. You\0000a0can\0000a0use\0000a0Markdown";
      position: absolute;
      left: 0px;
      color: #505050;
      max-width: 100%;
    }
  }
}

pre[data-language]{
  background-color: var(--bg-code);
  padding: 1rem;
  border-radius: 0.7rem;
}
