

.container{

  display: grid;
  grid-template-rows: auto 1fr;

  & > div{
    padding: 0 2rem;

    @media(min-width: 500px){
      padding: 0 4rem;
    }
  }
  
  .headingContainer{

    p {
      max-width: 700px;
      margin: 0rem auto;
      padding-top: 1rem;
      padding-bottom: 3rem;
      color: #727272;
      font-size: 0.9rem;

      & > span{
        display: block;

        &:nth-child(2){
          display: none;
        }
      }
      @media(min-width: 700px){
        font-size: 1rem;

      }

      @media(min-width: 500px){
        & > span {
          display: inline;
  
          &:nth-child(2){
            display: inline;
          }
        }
      }
    }

    .title{
      max-width: 700px;
      margin: 3rem auto;
      margin-bottom: 0;
      outline: none;
      position: relative;
      font-size: calc( 2 * var(--font-size));
      line-height: calc( 1.5 * var(--line-height));
      min-height: calc( 2 * var(--line-height));
      padding-bottom: 0.5rem;
      line-break: anywhere;

      @media(min-width: 700px){
        font-size: calc( 3 * var(--font-size));
        line-height: calc( 2.1 * var(--line-height));
        min-height: calc( 2.5 * var(--line-height));
        padding-bottom: 1rem;
      }

      textarea{
        line-break: anywhere;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100% !important;
        outline: none;
        border: none;
        background-color: var(--bg-color);
        scrollbar-width: none;
        resize: none;

        &::placeholder{
          color: #424242;
        }
      }
    }

  }

  .editorContainer{
    .editor{
      height: 100%;
      max-width: 700px;
      margin: 0 auto;
    }
  }

}